{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingKey := promptStringOnce . "signingKey" "GPG signing key ID" -}}

[data]
    name       = {{ $name | quote }}
    email      = {{ $email | quote }}
    signingKey = {{ $signingKey | quote }}
